{:kotoba.app/id "cloud.itonami.isic-2394", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihdz2dn4tbs4ysabx6bptp5ie37yq6p37inxqxb5c7gnuicvnqdey", :kotoba.app/embed-url "ipfs://bafkreihdz2dn4tbs4ysabx6bptp5ie37yq6p37inxqxb5c7gnuicvnqdey", :published {:archive "https://kotobase.net/ipfs/bafkreihdz2dn4tbs4ysabx6bptp5ie37yq6p37inxqxb5c7gnuicvnqdey", :size 72475, :put-status 201, :get-status 200, :at "2026-08-15T14:04:13.001Z"}}
